@media only screen and (max-width: 320px){
}

@media only screen and (min-width: 320px) and (max-width: 480px){
}

@media only screen and (min-width : 480px) and (max-width : 992px){
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
}

.slicknav_menu {display:none;}

@media screen and (max-width: 992px){
}

/* HACKS POUR ECRAN IMAC */
@media only screen and (min-width : 90.063em) {
}
