/* ----------------------------- */
/* = SOFT RESET                  */
/* ----------------------------- */
html,
body,
form,
fieldset,
legend,
ul,
ol,
dl,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
code,
kbd,
q
{
  margin: 0;
  padding: 0;
}

ul,
li
{
  list-style: none !important;
}

code,
pre,
samp,
textarea,
table,
td
{
  word-wrap: break-word;
}

a
{
  vertical-align: baseline;
  text-decoration: none;
  color: #82c2e5;
  outline: none;
}

a:hover,
a:focus,
a:active
{
  text-decoration: none !important;
  outline: none !important;
}

a:focus,
a:hover
{
  text-decoration: none !important;
  color: #004579;
}

a img,
img
{
  border: 0;
}

input,
select
{
  vertical-align: middle;
  outline: none !important;
}

strong
{
  font-weight: bold;
  text-align: left;
  color: #004579;
}

.clear
{
  clear: both;
}

.img-responsive
{
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.box
{
  float: left;
  width: 100%;
}

.no-margin,
.no-padding
{
  margin: 0 !important;
  padding: 0 !important;
}

*
{
  box-sizing: border-box;
}

/* ============================================================================
	VARIABLES
	============================================================================ */
html,
body
{
  font-family: sans-serif;
  font-size: 100%;
  line-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ============================================================================
	PAGE LOGIN
	============================================================================ */
.login-page
{
  width: 100%;
  height: 100%;
  background: url('../images/bg.jpg') center no-repeat;
  background-size: cover;
}

.wraper
{
  width: 100%;
  height: 100%;
}

.bloc-login
{
  position: relative;
  top: 30%;
  width: 40%;
  height: 300px;
  margin: auto;
  text-align: center;
}

.bloc-login .title-one
{
  font-size: 1.25rem;
  font-weight: lighter;
  margin-top: 10px;
  text-transform: uppercase;
  color: #ce3121;
}

.bloc-login .form-login input:not([type='submit'])
{
  font-size: .875rem;
  width: 50%;
  height: 35px;
  padding-left: 20px;
  color: #222;
  border-width: 1px;
  border-color: rgba(136, 118, 46, .32);
  background-color: rgba(153, 146, 124, .6);
}
