/* ----------------------------- */
/* = SOFT RESET                  */
/* ----------------------------- */
html, body, form, fieldset, legend, ul, ol, dl, blockquote, pre, h1, h2, h3, h4, h5, h6, code, kbd, q{margin:0;padding:0;}
ul, li{list-style: none !important;}
code, pre, samp, textarea, table, td {word-wrap: break-word;}
a {text-decoration: none;outline: none;vertical-align: baseline;color: #82C2E5;}
a:hover, a:focus, a:active {text-decoration: none !important; outline: none !important;}
a:focus, a:hover{color: #004579; text-decoration: none !important;}
a img, img{border: 0;}
input,select{vertical-align: middle; outline: none !important;}
strong{font-weight: bold;color:#004579;text-align: left;}
.clear {clear: both;}
.img-responsive{max-width: 100%;height: auto;display: inline-block;}
.box{float: left;width: 100%;}
.no-margin, .no-padding{margin: 0 !important;padding: 0 !important;}
* {
	box-sizing: border-box;
}
/* ============================================================================
	VARIABLES
	============================================================================ */
$red_color: #CE3121;

html, body {
	width: 100%;
	height: 100%;
	line-height: 100%;
	font-size: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


/* ============================================================================
	PAGE LOGIN
	============================================================================ */

.login-page {
	width: 100%;
	height: 100%;
	background: url('../images/bg.jpg') center no-repeat;
	background-size: cover;
}

.wraper {
	width: 100%;
	height: 100%;
}

.bloc-login {
	width: 40%;
	height: 300px;
	margin: auto;
	text-align: center;
	position: relative;
	top: 30%;

	.title-one {
		font-size: 20px;
		text-transform: uppercase;
		color: $red_color;
		margin-top: 10px;
		font-weight: lighter;
	}

	.form-login {
		input:not([type="submit"]) {
			width: 50%;
			height: 35px;
			padding-left: 20px;
			background-color: rgba(#99927C, 0.60);
			border-color: rgba(#88762e, 0.32);
			border-width: 1px;
			color: #222222;
			font-size: 14px;
		}
	}
}
